/* ProductoCard.module.css */

/* Contenedor principal del componente */
.container {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 0 auto;
}

/* Títulos del formulario y la tabla */
.h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Estilos para el formulario */
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #555;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

/* Botón para agregar el producto */
.boton {
  grid-column: span 2;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.editButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.editButton:active {
  background-color: #004085;
  transform: scale(1);
}

.deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.deleteButton:hover{
  background-color: #c82333;
  transform: scale(1.05);
}

.deleteButton:active {
  background-color: #bd2130;
  transform: scale(1);
}

.boton:hover {
  background-color: #0056b3;
}

/* Estilos para la tabla */
.table {
  width: 100%;
  margin-top: 40px;
  border-collapse: collapse;
  text-align: left;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.table td {
  background-color: #fff;
}

.table td img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

/* Mensaje de no productos */
.table td[colspan="5"] {
  text-align: center;
  font-size: 16px;
  color: #999;
}
